# Ignore everything by default
*
# Then add manually what is needed
!.gitignore

# Git
!.gitconfig
!.gitignore_global

# Bash
!.bashrc

# bin folder
!/bin
!/bin/*

# i3 configuration
!.config
!.config/i3
!.config/i3/config

# NVIM
!.config/nvim
!.config/nvim/syntax
!.config/nvim/syntax/*
!.config/nvim/ftdetect
!.config/nvim/ftdetect/*
